.notAllocated {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notAllocated_sub {
  display: flex;
  flex-direction: column;
  width: 550px;
}
.frm-notAllocated label {
  margin-right: 10px;
  width: 200px;
}

.frm-notAllocated {
  padding: 20px;
  width: 1200px;
  border: 1px solid rgb(209, 203, 203);
  border-radius: 25px;
}
.notAllocated__count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.notAllocated__count select {
  /* max-width: 200px !important; */
  /* margin-left: 54px; */
}

.notAllocated__count input[type="text"] {
  margin-left: 10px;
  max-width: 200px !important;
}

.frm-notAllocated .error_div {
  display: flex;
  justify-content: flex-end;
}
.frm-notAllocated .min-input {
  width: 100px;
}
.frm-notAllocated .btn-div {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.frm-notAllocated .btn-add {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: center;
}
